altair==4.2.0
numpy==1.22.4
pandas==2.0.3
plotly==5.8.0
plotly-express==0.4.1
stqdm==0.0.5
streamlit==1.31.1
streamlit-embedcode==0.1.2
streamlit-jupyter==0.2.1
streamlit-lottie==0.0.3
streamlit-pandas-profiling==0.1.3
